{% extends 'base.html.twig' %}
{% block body %}
<div class="card m-5" style="width: 18rem; margin-left: 2rem; margin-right: 2rem">
  <img class="card-img-top" style="height: 20rem;" src="{{program.poster}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{program.title}}</h5>
    <p class="card-text" style="height: 5rem; font-size: 0.7rem;">{{program.summary}}</p>
    {% for season in seasons %}
        <a href="{{ path("program_season_show", { program: program.id, season : season.id }) }}" class="btn btn-primary">
        <p class="card-text" style="height: 5rem; font-size: 0.7rem;">{{season.number}}</p>
        </a>
    {% endfor %}
  </div>
</div>
{% endblock %}